* text=auto eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
/crates/pwf-cli/tests/fixtures/task_dag/*.stdout text eol=lf whitespace=-blank-at-eof
/crates/pwf-cli/tests/fixtures/task_dag/*.stderr text eol=lf
